---
interface Props {
  title: string;
  description: string;
}

const { SITE, BASE_URL } = import.meta.env;

const SITE_URL = SITE + BASE_URL;

const OG_URL = `${SITE_URL}/og.png`;

const { title, description } = Astro.props;
---

<>
  <title>{title}</title>
  <meta name="description" content={description} />

  <meta property="og:url" content={SITE_URL} />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:image" content={OG_URL} />
</>
